@using System.Data.SqlClient;
@model WebMVC.Models.PaginatedPlatesViewModel
@functions{
    public SortOrder chooseOrder(string? sortField, SortOrder order)
    {
        if (string.IsNullOrEmpty(sortField))
        {
            return SortOrder.Ascending;
        }
        return order == SortOrder.Ascending? SortOrder.Descending : SortOrder.Ascending;
    }
}
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div><a href="/AddPlate">Add New Plate</a></div>

    <div>
        <form method="get">
            <legend>Filter results</legend>
            <span>
                <label for="Letters">Letters</label>
                <input type="text" asp-for="@Model.Filter.Letters" />
            </span>
            <span>
                <label for="Numbers">Numbers</label>
                <input type="number" asp-for="@Model.Filter.Numbers" />
            </span>
            <span>
                <label for="SortField">Order by</label>
                <select asp-for="@Model.SortField">
                    <option value="">None</option>
                    <option value="Price">Price</option>
                </select>
            </span>
            <span>
                <label for="SortOrder">Ordering</label>
                <select asp-for="@Model.SortOrder">
                    <option value="@SortOrder.Unspecified">&emdash;</option>
                    <option value="@SortOrder.Ascending">Ascending</option>
                    <option value="@SortOrder.Descending">Descending</option>
                </select>
            </span>
            <span>
                <input type="submit" value="Get plates" />
            </span>
        </form>
    </div>
    
    <table>
        <thead></thead>
            <tr>
                <td>Registration</td>
                <td>Price <span><a href="?sortField=Price&sortOrder=@chooseOrder(Model.SortField, Model.SortOrder)">^</a></span></td>
                <td>Letters</td>
                <td>Numbers</td>
            </tr>
        <tbody>
@foreach(var plate in Model.Plates) {
            <tr>
                <td>@Html.DisplayFor(modelItem => plate.Registration)</td>
                <td>@Html.DisplayFor(modelItem => plate.SalePrice)</td>
                <td>@Html.DisplayFor(modelItem => plate.Letters)</td>
                <td>@Html.DisplayFor(modelItem => plate.Numbers)</td>
            </tr>
}
        </tbody>
    </table>
    <span><a href="?pageIndex=@Html.DisplayFor(modelItem => Model.PreviousPage)">Previous Page</a></span>
    <span>@Model.CurrentPage</span>
    <span><a href="?pageIndex=@Html.DisplayFor(modelItem => Model.NextPage)">Next Page</a></span>

</div>