@using System.Data.SqlClient;
@model WebMVC.Models.PaginatedPlatesViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div><a href="/AddPlate">Add New Plate</a></div>

    <div>
        <form method="get">
            <legend>Filter results</legend>
            <span>
                <label for="Letters">Letters</label>
                <input type="text" asp-for="@Model.LetterFilter" />
            </span>
            <span>
                <label for="Numbers">Numbers</label>
                <input type="number" asp-for="@Model.NumberFilter" />
            </span>
            <span>
                <label for="SortField">Order by</label>
                <select asp-for="@Model.SortField">
                    <option value="">None</option>
                    <option value="Price">Price</option>
                </select>
            </span>
            <span>
                <label for="SortOrder">Ordering</label>
                <select asp-for="@Model.SortOrder">
                    <option value="@SortOrder.Unspecified">--</option>
                    <option value="@SortOrder.Ascending">Ascending</option>
                    <option value="@SortOrder.Descending">Descending</option>
                </select>
            </span>
            <span>
                <input type="submit" value="Get plates" />
            </span>
        </form>
    </div>
    
    <table>
        <thead></thead>
            <tr>
                <td>Registration</td>
                <td>Price</td>
                <td>Letters</td>
                <td>Numbers</td>
            </tr>
        <tbody>
@foreach(var plate in Model.Plates) {
            <tr>
                <td>@Html.DisplayFor(modelItem => plate.Registration)</td>
                <td>@Html.DisplayFor(modelItem => plate.SalePrice)</td>
                <td>@Html.DisplayFor(modelItem => plate.Letters)</td>
                <td>@Html.DisplayFor(modelItem => plate.Numbers)</td>
            </tr>
}
        </tbody>
    </table>
    <span><a href="@ViewData["FirstPageLink"]">First Page</a></span>
    <span><a href="@(ViewData["PrevPageLink"] != null ? ViewData["PrevPageLink"]:"")">Previous Page</a></span>
    <span>@Model.CurrentPage</span>
    <span><a href="@(ViewData["NextPageLink"] != null ? ViewData["NextPageLink"]:"")">Next Page</a></span>
    <span><a href="@ViewData["LastPageLink"]">Last Page</a></span>

</div>